Package: enigma2-plugin-mediacenter-fcbayern.screensaver
Version: 1.0
Description: Fc Bayern Screensaver for MediaCenter
Section: mediacenter
Priority: optional
Maintainer: XXX
Architecture: sh4
Homepage: http://www.hdmedia-universe.com
Depends:
Source: http://www.hdmedia-universe.com
