Package: enigma2-plugin-mediacenter-holiday.screensaver
Version: 1.0
Description: Holiday Screensaver for MediaCenter
Section: mediacenter
Priority: optional
Maintainer: xcodex
Architecture: sh4
Homepage: http://www.hdmedia-universe.com
Depends:
Source: http://www.hdmedia-universe.com
