Package: enigma2-plugin-mediacenter-freiwild.screensaver
Version: 1.0
Description: Freiwild Screensaver for MediaCenter
Section: mediacenter
Priority: optional
Maintainer: bonkel
Architecture: all
Homepage: http://www.hdmedia-universe.com
Source: http://www.hdmedia-universe.com
