Package: enigma2-plugin-mediacenter-fantasie.screensaver
Version: 1.0
Description: Fantasie Screensaver for MediaCenter
Section: mediacenter
Priority: optional
Maintainer: Ringo
Architecture: all
Homepage: http://www.hdmedia-universe.com
Source: http://www.hdmedia-universe.com
